body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 0;
}

h2 {
    font-size: 35px;
    text-decoration: underline;
    text-underline-position: under;
}

h3 {
    font-size: 30px;
}

ul {
    padding: 0;
    list-style: none;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 25px;
}

header img {
    height: 75%;
}

header a {
    margin-left: 25px;
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}




.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/landing.jpg");
    /* background-image: url(../images/landing.jpg); */
    background-size: cover;
    background-position: bottom;
    height: 768px;
    color: white;
}

.section1 h1 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 40px;
}

.section1 p {
    font-size: 30px;
}



.section2 {
    text-align: center;
}

.section2 h2 {
    text-decoration-color: #00c76f;
}

.section2 h3 {
    margin-top: 0;
    color: #00c76f;
}

.section2 ul {
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
    margin-bottom: 7%;
}

.section2 li {
    width: 20%;
}

.section2 p {
    font-size: 25px;
}

.section2 img {
    width: 50%;
}



.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
    padding: 6%;
    background-color: #00c76f;
    color: white;
}

.section3 h2 {
    margin-top: 0;
}

.section3 ul {
    width: 50%;
}

.section3 li {
    margin-bottom: 10%;
}

.section3 p {
    font-size: 23px;
}

.section3 img {
    width: 30%;
}

.section3 ul p{
    font-size: 20px;
    width: 300px;
}

